<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" #f="ngForm" (ngSubmit)="login()">
    <ion-input formControlName="email" type="email" placeholder="Correo"></ion-input>
    <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>

    <button ion-button type="submit" [disabled]="!f.form.valid" round>
      Entrar
    </button>
  </form>

</ion-content>