<ion-header>
  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" #f="ngForm" (ngSubmit)="register()">

    <ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
    <ion-input formControlName="last_name" type="text" placeholder="Apellido"></ion-input>
    <ion-input formControlName="matricula" type="text" placeholder="Matrícula"></ion-input>

    <ion-input formControlName="email" type="email" placeholder="Correo"></ion-input>
    <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
    <ion-input formControlName="passRepeat" type="password" placeholder="Confirmar contraseña"></ion-input>

    <button ion-button type="submit" [disabled]="!f.form.valid" round>
      Registrar
    </button>
  </form>
</ion-content>