page-history {
  // font-size: 100%;
  div.cards-list {
    max-width: 400px;
    margin: auto;

    .element {
      box-shadow: 0 0 5px gray;
      border-radius: 10px;
      margin-bottom: 15px;
      overflow: hidden;

      display: flex;
      justify-content: space-between;

      .data {
        padding: 10px;
      }

      .status {
        width: 20%;
        font-size: 30px;

        display: flex;
        justify-content: stretch;
        align-items: stretch;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          &.yes {
            background-image: linear-gradient(lime, lightseagreen);
          }
          &.no {
            background-image: linear-gradient(salmon, brown);
          }
          &.null {
            background-image: linear-gradient(whitesmoke, gray);
          }
        }
      }
    }

    .element:hover {
      color: white;
      background-color: gray;
    }
  }
}
