<ion-header>
  <ion-navbar>
    <ion-title>Justificantes Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="cards-list">

      <div class="element" *ngFor="let just of justificantes" (click)="details(just)">
        <article class="data">
          <h6 class="type">{{ just.type }}</h6>
  
          <h6 class="name">
            {{ just.user.last_name }}, {{ just.user.name }} ({{ just.user.matricula }})
          </h6>
  
          <h5 class="date" *ngIf="just.date_1 != just.date_2">
            {{ just.date_1 | date :  "dd 'de' MMM " }} al <br> {{ just.date_2 | date :  "dd 'de' MMM 'del' y" }}
          </h5>
          <h5 class="date" *ngIf="just.date_1 == just.date_2">
            {{ just.date_1 | date :  "dd 'de' MMM 'del' y" }}
          </h5>
          <p class="explain">{{ just.explanatory}}</p>
        </article>
  
        <div class="status">
          <div class="null" *ngIf="just.approved != true && just.approved != false">
            <ion-icon name="time"></ion-icon>
          </div>
          <div class="yes" *ngIf="just.approved == true">
            <ion-icon name="happy"></ion-icon>
          </div>
          <div class="no" *ngIf="just.approved == false">
            <ion-icon name="sad"></ion-icon>
          </div>
        </div>
        
      </div>
    </div>

</ion-content>