<ion-content padding>

  <article>
    <figure>
      <img src="../../assets/imgs/Logo-TecNM.png" alt="">
    </figure>
    <h1>Bienvenido a Justify</h1>

    
    <div>
      <button ion-button (click)="goLogin()">
        Iniciar sesión
      </button>

      <button ion-button (click)="goRegister()">
        Registro
      </button>
    </div>
  </article>

</ion-content>