page-just-details {
  #content {
    max-width: 800px;
    margin: auto;

    text-align: center;

    img {
      margin-top: 10px;
    }

    .options {
      width: 50%;
      margin: auto;

      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      .status {
        width: 30%;
        margin: auto;
        margin-top: 30px;
        border-radius: 10px;

        text-align: center;
        font-size: 30px;
        transition: 0.2s all;
      }
      .yes {
        background-image: linear-gradient(lime, lightseagreen);
      }
      .no {
        background-image: linear-gradient(salmon, brown);
      }
      .null {
        background-image: linear-gradient(whitesmoke, gray);
      }

      .yes:hover {
        background-image: linear-gradient(lightseagreen, lime);
        transform: scale(1.1);
      }
      .no:hover {
        background-image: linear-gradient(brown, salmon);
        transform: scale(1.1);
      }
      .null:hover {
        background-image: linear-gradient(gray, whitesmoke);
        transform: scale(1.1);
      }
    }
  }
}
