<ion-header>
  <ion-navbar>
    <ion-title>Justificante de {{ currentJust.user.last_name }}, {{ currentJust.user.name }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div id="content">
    <ion-item>
      <ion-label text-wrap *ngIf="currentJust.date_1 == currentJust.date_2">
        {{ currentJust.user.last_name }},
        {{ currentJust.user.name }} ({{ currentJust.user.matricula }}) se ausentó
        el {{ currentJust.date_1 | date :  "dd 'de' MMM 'del' y" }}
      </ion-label>

      <ion-label text-wrap *ngIf="currentJust.date_1 != currentJust.date_2">
        {{ currentJust.user.last_name }},
        {{ currentJust.user.name }} ({{ currentJust.user.matricula }}) se ausentó
        el periodo {{ currentJust.date_1 | date :  "dd 'de' MMM 'del' y" }} al
        {{ currentJust.date_2 | date :  "dd 'de' MMM 'del' y" }}
      </ion-label>
    </ion-item>

    <ion-item>Razón: {{ currentJust.type }}</ion-item>

    <ion-item> Detalles: {{ currentJust.explanatory }} </ion-item>

    <img [src]="justImg" *ngIf="justImg" alt="Ionic File" width="300" (click)="attachmentDetail()"/>

    <section class="options">
      <span class="status no" (click)="set(false)">
        <ion-icon name="sad"></ion-icon>
      </span>

      <span class="status null" (click)="set(null)">
        <ion-icon name="time"></ion-icon>
      </span>

      <span class="status yes" (click)="set(true)">
        <ion-icon name="happy"></ion-icon>
      </span>
    </section>
  </div>
</ion-content>