page-admin {
  text-align: center;

  ion-content {
    background-image: url(../../assets/imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .scroll-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    article {
      background-color: #fff6;
      border-radius: 10px;
      max-width: 400px;
      margin: auto;

      display: flex;
      flex-direction: column;
      h1 {
        color: white;
      }
      div {
        display: flex;
        width: 80%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
      }
    }
  }
}
