<ion-content padding>

  <article>
    <figure>
      <img src="../../assets/imgs/Logo-TecNM.png" alt="">
    </figure>
    <h1>Panel de Administrador</h1>


    <div>
      <button ion-button (click)="goAdminPending()">
        Justificantes Pendientes
      </button>

      <button ion-button (click)="goAdminHistory()">
        Historial de Justificantes
      </button>

      <button ion-button color="danger" (click)="logout()">
        Cerrar sesión
      </button>
    </div>
  </article>

</ion-content>