page-submit {
  form {
    max-width: 400px;
    margin: auto;

    text-align: center;

    #date_pickers {
      ion-label.label {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .submit {
      width: 80%;
      margin-top: 50px;
    }
  }
}
