<ion-header>
  <ion-navbar>
    <ion-title>Submit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" #f="ngForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select cancelText="Cancelar" okText="Ok" formControlName="type">
        <ion-option *ngFor="let type of types" [value]="type">
          {{ type }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item id="date_pickers">
      <ion-item class="date_element">
        <ion-datetime formControlName="date_1" class="start-date" displayFormat="DD|MMM|YYYY" doneText="Ok"
          cancelText="Cancelar" [(ngModel)]="selected.periodStart" min="{{ limit.min }}" max="{{ limit.max }}">
        </ion-datetime>
      </ion-item>
      <ion-item class="date_element">
        <ion-datetime formControlName="date_2" class="end-date" displayFormat="DD|MMM|YYYY" doneText="Ok"
          cancelText="Cancelar" [(ngModel)]="selected.periodEnd" min="{{ limit.min }}" max="{{ limit.max }}">
        </ion-datetime>
      </ion-item>
    </ion-item>

    <ion-input formControlName="explanatory" placeholder="Puedes explicar mejor la situación aquí..."></ion-input>

    <label class="image-upload-container btn btn-bwm">
      <span>Selecciona una imagen</span>
      <input #imageInput type="file" name="just" accept=".jpg" (change)="processFile(imageInput)">
    </label>
    <div *ngIf="selectedFile" class="img-preview-container">
      <img *ngIf="selectedFile" [src]="selectedFile.src" />
    </div>

    <button ion-button class="submit" type="submit" [disabled]="!f.form.valid" round>
      Solicitar Justificante
    </button>
  </form>


</ion-content>