<ion-content padding>

  <article>
    <figure>
      <img src="../../assets/imgs/Logo-TecNM.png" alt="">
    </figure>
    <h1>Menú</h1>


    <div>
      <button ion-button (click)="goSubmit()">
        Solicitar un justificante
      </button>

      <button ion-button (click)="goHistory()">
        Ver historial
      </button>

      <button ion-button color="danger" (click)="logout()">
          Cerrar sesión
        </button>
    </div>
  </article>

</ion-content>