<ion-header>
  <ion-navbar>
    <ion-title>Detalle de Adjunto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <figure>
    <img [src]="justImg" *ngIf="justImg" alt="Ionic File" />
  </figure>

</ion-content>